<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.app.ih.dining.mapper.DiningMapper">

    <select id="getDiningList" resultType="DiningDTO" parameterType="HashMap">
	    SELECT 
	        dining_id, name, d_type, description,
	        tel, floor, main_img, fk_hotel_id, business_hours
	    FROM tbl_dining
	    <where>
	        <if test="hotel_id != null and hotel_id != ''">
	            AND fk_hotel_id = #{hotel_id}
	        </if>
	        <if test="d_type != null and d_type != ''">
	            AND UPPER(d_type) = UPPER(#{d_type})
	        </if>
	    </where>
	    ORDER BY dining_id ASC
	</select>
	
    <select id="getDiningDetail" resultType="DiningDTO">
        SELECT 
            dining_id, name, d_type, description,
            introduction, business_hours,
            tel, floor, main_img, store_imgs,
            food_imgs, menu_pdf, extra_info, fk_hotel_id,
            open_time, close_time, available_times       
            FROM tbl_dining
        WHERE dining_id = #{dining_id}
    </select>
    
    <insert id="registerReservation" parameterType="DiningReservationDTO">
	    INSERT INTO dining_reservations (
	        dining_reservation_id,
	        fk_hotel_id,
	        dining_id,
	        fk_member_no,
	        guest_name,
	        guest_phone,
	        guest_email,
	        res_password,
	        adult_count,
	        child_count,
	        infant_count,
	        res_date,
	        res_time,
	        special_requests,
	        allergy_info,
	        status,
	        created_at
	    ) VALUES (
	        seq_dining_reservation.NEXTVAL,
	        #{fkHotelId, jdbcType=NUMERIC},
	        #{diningId, jdbcType=NUMERIC},  #{fkMemberNo, jdbcType=NUMERIC},
	        #{guestName},
	        #{guestPhone},
	        #{guestEmail, jdbcType=VARCHAR},
	        #{resPassword, jdbcType=VARCHAR},
	        #{adultCount},
	        #{childCount, jdbcType=NUMERIC},
	        #{infantCount, jdbcType=NUMERIC},
	        #{resDate},
	        #{resTime},
	        #{specialRequests, jdbcType=CLOB},
	        #{allergyInfo, jdbcType=CLOB},
	        'CONFIRMED',
	        CURRENT_TIMESTAMP
	    )
	</insert>

    <select id="getReservationConfirmInfo" parameterType="long" resultType="DiningReservationDTO">
	    SELECT 
	        R.*, 
	        D.NAME AS diningName  FROM dining_reservations R
	    JOIN tbl_dining D ON R.dining_id = D.dining_id  WHERE R.dining_reservation_id = #{diningReservationId}
	</select>
		
    <select id="getDiningName" parameterType="long" resultType="string">
	    SELECT name 
	    FROM tbl_dining 
	    WHERE dining_id = #{diningId}
	</select>	    
    
	<insert id="insertReservation" parameterType="DiningReservationDTO">
	    <selectKey keyProperty="diningReservationId" resultType="long" order="BEFORE">
	        SELECT seq_dining_reservation.nextval FROM dual
	    </selectKey>
	
	    INSERT INTO dining_reservations (
	        dining_reservation_id,  
	        fk_hotel_id,            
	        dining_id,
	        fk_member_no,           
	        guest_name,
	        guest_phone,
	        guest_email,            
	        res_password,           
	        adult_count,
	        child_count,
	        infant_count,
	        res_date,
	        res_time,
	        special_requests,
	        status,
	        created_at
	    ) VALUES (
	        #{diningReservationId}, 
	        #{fkHotelId},           
	        #{diningId},
	        #{fkMemberNo, jdbcType=NUMERIC},     #{guestName},
	        #{guestPhone},
	        #{guestEmail, jdbcType=VARCHAR},     #{resPassword, jdbcType=VARCHAR},    #{adultCount},
	        #{childCount, jdbcType=NUMERIC},     #{infantCount, jdbcType=NUMERIC},    #{resDate},
	        #{resTime},
	        #{specialRequests, jdbcType=VARCHAR}, 'CONFIRMED',
	        SYSTIMESTAMP
	    )
	</insert>
	
	
	<insert id="insertPayment" parameterType="map">
	    INSERT INTO dining_payments (
	        payment_id, 
	        dining_res_no,      amount, 
	        original_amount, 
	        cancellation_fee, 
	        payment_method, 
	        status, 
	        pg_tid, 
	        paid_at
	    ) VALUES (
	        SEQ_DINING_PAYMENTS.nextval, 
	        #{resNo, jdbcType=NUMERIC}, #{amount, jdbcType=NUMERIC}, 
	        #{originalAmount, jdbcType=NUMERIC}, 
	        0, 
	        #{paymentMethod, jdbcType=VARCHAR}, 
	        #{status, jdbcType=VARCHAR}, 
	        #{pgTid, jdbcType=VARCHAR}, 
	        SYSTIMESTAMP
	    )
	</insert>
	

	<select id="findNonMemberReservations" resultType="DiningReservationDTO">
	    SELECT 
	        R.DINING_RESERVATION_ID as diningReservationId,
	        (SELECT D.NAME FROM tbl_dining D WHERE D.DINING_ID = R.DINING_ID) as diningName,
	        R.RES_DATE as resDate,
	        R.RES_TIME as resTime,
	        R.ADULT_COUNT as adultCount,
	        R.CHILD_COUNT as childCount,
	        R.STATUS as status
	    FROM DINING_RESERVATIONS R
	    WHERE R.GUEST_NAME = #{name}
	      AND R.GUEST_EMAIL = #{email}
	      AND R.RES_PASSWORD = #{password}
	      AND R.FK_MEMBER_NO IS NULL  ORDER BY R.RES_DATE DESC, R.RES_TIME DESC
	</select>

	
	<select id="findMemberReservations" resultType="DiningReservationDTO">
	    SELECT 
	        R.dining_reservation_id as diningReservationId,
	        (SELECT D.NAME FROM TBL_DINING D WHERE D.DINING_ID = R.dining_id) as diningName,
	        R.res_date as resDate,
	        R.res_time as resTime,
	        R.adult_count as adultCount,
	        R.child_count as childCount,
	        R.infant_count as infantCount,
	        R.status as status
	    FROM dining_reservations R
	    INNER JOIN TBL_MEMBER_SECURITY M ON R.fk_member_no = M.member_no  WHERE M.memberid = #{memberid}
	    ORDER BY R.res_date DESC, R.res_time DESC
	</select>


    <update id="updateStatus">
        UPDATE DINING_RESERVATIONS
	    SET STATUS = #{status},
	        UPDATED_AT = CURRENT_TIMESTAMP
	    WHERE DINING_RESERVATION_ID = #{id}
    </update>
    
    <select id="findAllReservationsAdmin" parameterType="map" resultType="DiningReservationDTO">
	    SELECT 
	        R.dining_reservation_id as diningReservationId,
	        (SELECT D.NAME FROM TBL_DINING D WHERE D.DINING_ID = R.dining_id) as diningName,
	        R.guest_name as guestName,
	        R.guest_phone as guestPhone,
	        R.res_date as resDate,
	        R.res_time as resTime,
	        R.adult_count as adultCount,
	        R.child_count as childCount,
	        R.status as status,
	        R.fk_member_no as fkMemberNo,
	        R.created_at as createdAt
	    FROM dining_reservations R
	    <where>
	        <if test="keyword != null and keyword != ''">
	            AND (R.guest_name LIKE '%' || #{keyword} || '%' OR R.guest_phone LIKE '%' || #{keyword} || '%')
	        </if>
	        <if test="status != null and status != ''">
	            AND R.status = #{status}
	        </if>
	    </where>
	    ORDER BY R.res_date DESC, R.res_time DESC
	</select>
	
	<select id="getAdminDashboardCounts" resultType="map">
	    SELECT 
	        COUNT(*) as TOTAL,
	        COUNT(CASE WHEN status = 'CONFIRMED' AND res_date = TRUNC(SYSDATE) THEN 1 END) as TODAY_RESERVE,
	        COUNT(CASE WHEN status = 'VISITED' THEN 1 END) as VISITED, COUNT(CASE WHEN status = 'NOSHOW' THEN 1 END) as NOSHOW
	    FROM dining_reservations
	</select>
	
	<update id="updateReservationStatusAdmin">
	    UPDATE dining_reservations
	    SET status = #{status}
	    WHERE dining_reservation_id = #{resId}
	</update>
	
	<insert id="insertManualReservation">
	    INSERT INTO dining_reservations (
	        dining_reservation_id, 
	        dining_id, 
	        fk_hotel_id,  guest_name, 
	        guest_phone, 
	        res_date, 
	        res_time, 
	        adult_count, 
	        child_count, 
	        infant_count, 
	        status, 
	        created_at
	    ) VALUES (
	        seq_dining_reservation.nextval, 
	        #{diningId}, 
	        #{fkHotelId}, #{guestName}, 
	        #{guestPhone}, 
	        #{resDate}, 
	        #{resTime}, 
	        #{adultCount}, 
	        #{childCount}, 
	        #{infantCount}, 
	        'CONFIRMED', 
	        SYSTIMESTAMP
	    )
	</insert>
	
	<select id="getReservationDetail" resultType="com.spring.app.ih.dining.model.DiningReservationDTO">
	    SELECT 
	        res.dining_reservation_id, 
	        res.guest_name, 
	        res.guest_phone, 
	        res.res_date, 
	        res.res_time, 
	        res.adult_count, 
	        res.child_count, 
	        res.infant_count, 
	        res.status,
	        res.request_term,  
	        d.name AS diningName  FROM dining_reservations res
	    JOIN tbl_dining d ON res.dining_id = d.dining_id
	    WHERE res.dining_reservation_id = #{resId}
	</select>
			
</mapper>